<div class="card">
  <div class="card-header">
    dash-board component app-dash-board
  </div>
  <div class="card-body">
    <h5 class="card-title">  Ce composant du Dash bord communique avec les autres composants grâce aux Signals</h5>

    <app-dash-board></app-dash-board>
  </div>
</div>

<div class="card">
  <div class="card-header">
    dash-board component app-add-product
  </div>
  <div class="card-body">
    <h5 class="card-title">  Ce composant du formulaire d'ajout d'un produit, communique avec les autres composants grâce aux Signals</h5>

    <app-add-product></app-add-product>

  </div>
</div>

<div class="card">
  <div class="card-header">
    dash-board component app-products-list
  </div>
  <div class="card-body">
    <h5 class="card-title">  Ce composant de list des produits , communique avec les autres composants grâce aux Signals</h5>

    <app-products-list></app-products-list>


  </div>
</div>
